DB_PORT=3306
FRONTEND_URL=
JWT_SECRET=
DB_NAME=
DB_HOST=
DB_USER=
DB_PASSWORD=


STRIPE_SECRET_KEY= 
STRIPE_PUBLISHABLE_KEY= 

MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_AUTH_USER=
MAIL_AUTH_PASS=
MAIL_ENCRYPTION=
MAIL_TO_ADDRESS=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

MAILGUN_DOMAIN=
MAILGUN_SECRET=
MAILGUN_ENDPOINT=
MAILGUN_API_KEY=